<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h4>This is a Flask based app that uses Yelp APIs for searching businesses</h4>
				<br>
				<p><a href="https://www.linkedin.com/in/karan-ratanpal-93027920">Created by Karan</a></p>
				<p><a href="{{ url_for('index') }}">Back to homepage</a></p>
			</div>
		</div>
	</body>
</html>