<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			{% if results %}
				<div class="jumbotron">
					<h1><i>{{ "{} near {}".format(term, address)}}</i><h1>
				</div>
				<div class="contianer">
					{% for item in results %}
						<ul style="list-style-type:square">
							<li><h4>{{ item['name'] }}</h4></li>
							<a style="padding: 10px 10px 10px 8px"><img src="{{item['image'] }}" style="width:200px; height:120px; border: 5px solid white"/></a>
							<p>{{ "Rating: {}".format(item['rating'])}}
							<p>{{ "Reviews: {}".format(item['reviews'])}}
							<p>{{ "Tip: {}".format(item['tip'])}}
							<p>{{ "Phone: {}".format(item['phone'])}}
							<p>{{ "Address: {}".format(item['address'])}}
							<p><iframe width="450" height="250" frameborder="0" style="border:0" src="{{ item['map_url'] }}"></iframe></p>
							<br>
						</ul>
				{% endfor %}
				<a href="{{ url_for('index') }}">Back to homepage</a>
			{% else %}					
				<div class="jumbotron">
					<h2>Hello! What are you looking for?</h2>
				</div>
				<div class="container">
					<form action="/" class="form-inline">
						<div class="form-group">
							<input type="text" name="term" placeholder="Find" class="form-control">
							<input type="text" name="address" placeholder="Location" class="form-control">
							<input type="submit" value="Submit" class="btn-btn-primary">
					</form>
				</div>
			{% endif %}
			<br>
			<p><a href="{{ url_for('about') }}">About this project</a></p>
		</div>
	</div>
	</body>
</html>